.centered-form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 60px);
    padding-top: 60px;
}

.centered-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 8px;
}
